.App {
  text-align: center;
}
.nav-space{
  width: 100%;
  display: flex;
  position: relative;
  text-decoration: none;
  .link-izquierdo{
    font-family: 'Montserrat', sans-serif;
    height: 50%;
    color: black;
    margin-right: 6%;
    margin-left: 3%;
    margin-top: 3%;
    text-decoration: none;
    letter-spacing: -0.015em;
    font-weight:bold;
  }
  .link-izquierdo-logo{
    font-family: 'Montserrat', sans-serif;
    height: 50%;
    color: black;
    margin-right: 5%;
    margin-top: 3%;
    text-decoration: none;
    letter-spacing: -0.015em;
    font-weight: bold;
  }
  .link-derecho{
    font-family: 'Montserrat', sans-serif;
    height: 50%;
    color: black;
    margin-left: 8%;
    margin-right: 3%;
    margin-top: 3%;
    text-decoration: none;
      letter-spacing: -0.015em;
      font-weight: bold;
    }
    
    .link-derecho-logo {
      font-family: 'Montserrat', sans-serif;
      height: 50%;
      color: black;
      margin-left: 6%;
      margin-top: 3%;
      text-decoration: none;
      letter-spacing: -0.015em;
      font-weight: bold;
    }
    
    img {
      width: 6%;
      height: 80%;
    }
    
    .logotxt {
      margin-top: 3%;
      font-family: 'Comfortaa';
      font-style: normal;
      font-size: 150%;
      letter-spacing: -0.015em;
    
      color: #000000;
    }
    
    .selected {
      text-decoration: underline;
    }
    }
    
    .nav-space::after {
      content: "";
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 95%;
      border-bottom: 2px solid #ccc;
    }
    
    .fut-space {
      bottom: 0;
      width: 100%;
      height: 50px;
      position: fixed;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      left: 0;
      right: 0;
      font-family: 'Montserrat', sans-serif;
    }
    
    .Home {
      justify-content: center;
      .titulo-home {
        /* Sub-page H1 */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        /* or 150% */
        
        letter-spacing: -0.015em;
    
        color: #000000;
      }
      .texto-home {
        /* Body P Large */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 230%;
        line-height: 50px;
        width: 70%;
        margin-left: 15%;
    
        /* or 139% */
        text-align: center;
        letter-spacing: -0.015em;
    
        color: rgba(0, 0, 0, 0.8);
      }

    }
    .container-IMC{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      input[type="range"]{
        width: 534px;
      }
      .tarjeta-IMC{
        width: 899px;
        height: 484.86px;
        left: 221px;
        margin-top: 3%;
        
        background: #D9D9D9;
        border-radius: 40px;
        transform: rotate(-0.06deg);
      }
      .rango1{
        margin-top: 5%;
        margin-right: 10%;
        margin-bottom: -0.5%;
      }
      .rango2{
        margin-top: 10%;
        margin-right: 9%;
        margin-bottom: -0.5%;
      }
      .indicadores{
        font-family: 'Inter', sans-serif;
        font-weight: 700;
      }
      .resultado-numero{
        font-family: 'Montserrat', sans-serif;
        font-size: 250%;
        margin-top: 10%;
        margin-bottom: 0%;
      }
      .resultado-texto{
        font-family: 'Montserrat', sans-serif;
        font-size: 250%;
        margin-top: 0%;
        p:contains("importante") {
          color: red;
        }
      }
    }
    