.App {
  text-align: center;
}
.nav-space{
  width: 100%;
  display: flex;
  position: relative;
  text-decoration: none;
  .link-izquierdo{
    font-family: 'Montserrat', sans-serif;
    height: 50%;
    color: black;
    margin-right: 6%;
    margin-left: 3%;
    margin-top: 3%;
    text-decoration: none;
    letter-spacing: -0.015em;
    font-weight:bold;
  }
  .link-izquierdo-logo{
    font-family: 'Montserrat', sans-serif;
    height: 50%;
    color: black;
    margin-right: 5%;
    margin-top: 3%;
    text-decoration: none;
    letter-spacing: -0.015em;
    font-weight: bold;
  }
  .link-derecho{
    font-family: 'Montserrat', sans-serif;
    height: 50%;
    color: black;
    margin-left: 8%;
    margin-right: 3%;
    margin-top: 3%;
    text-decoration: none;
    letter-spacing: -0.015em;
    font-weight: bold;
  }
  .link-derecho-logo{
    font-family: 'Montserrat', sans-serif;
    height: 50%;
    color: black;
    margin-left: 6%;
    margin-top: 3%;
    text-decoration: none;
    letter-spacing: -0.015em;
    font-weight: bold;
  }
  img{
    width: 6%;
    height: 80%;
  }
  .logotxt{
    margin-top: 3%;
    font-family: 'Comfortaa';
    font-style: normal;
    font-size: 150%;
    letter-spacing: -0.015em;

    color: #000000;
  }
  .selected{
    text-decoration: underline;
  }
}
.nav-space::after{
  content: "";
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 95%;
  border-bottom: 2px solid #ccc;
}
.fut-space{
  bottom: 0;
  width: 100%;
  height: 50px;
  position: fixed;
  font-family: 'Montserrat', sans-serif;
}
.about{
  display: flex;
  .rectangulo-foto{
    box-sizing: border-box;
    width:22%;
    height: 0%;
    margin-left: 5%;
    margin-top: 2%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    }
    .texto-neto{
      margin-left: 10%;
      width: 60%;
      font-family: 'Montserrat';
      margin-top: 7%;
      .nombre{
        letter-spacing: -0.015em;
        font-weight: 400;
        margin-left: 1%;
      font-size: 48px;
      text-align: left;
      }
      .texto-about{
        font-weight: 400;
        font-size: 18px;
        width:90% ;
        text-align: left;
      }
    }
}